/* Aesthetic toggles */
:root {
    --bg: #ffecd6; /* Background color (light orange) */
    --text: #001b4d; /* Main text (dark blue) */
    --text-light: #00308a; /* Secondary text (lighter blue) */
    --accent: #cc5500; /* Links/buttons (burnt orange) */
}

body {
    max-width: 50rem; /* Margins */
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Set column layout based on margins in headshot png image */
.l-layout {
    position: relative;
    margin-bottom: 2rem;
    min-height: 300px;
}

.l-image {
    position: absolute;
    top: 0;
    left: 0;
    width 250px; /* Image size, adjust as needed */
}

.l-text-column {
    padding-top: 60px;
    margin-left: 100px;
}
