/* Aesthetic toggles */
:root {
    --bg: #ffecd6; /* Background color (light orange) */
    --text: #001b4d; /* Main text (dark blue) */
    --text-light: #00308a; /* Secondary text (lighter blue) */
    --accent: #cc5500; /* Links/buttons (burnt orange) */
}

body {
    max-width: 80rem; /* Margins */
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Set column layout based on margins in headshot png image */
.l-layout {
    position: relative;
    margin-bottom: 2rem;
    min-height: 300px;
}

.l-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px; /* Image size, adjust as needed */
}

.l-image img {
    width: 100%;
    height: auto;
    display: block;
}

.l-text-column {
    padding-top: 60px;
    margin-left: 80px;
}

/* Column configuration adjustment for mobile views */
@media (max-width: 768px) {

    .l-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
    }

    .l-image {
	position: relative;
	width: 100%;
	max-width: 250px;
	margin-bottom: 2rem;
    }

    .l-text-column {
	padding-top: 0;
	margin-left: 0;
    }
}
